

.order-card{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.5px solid #F0EBD4;
	width: 100%; 
    max-width: 650px;
    margin: auto;
    height: 180px;
	margin: auto;
}

.add-item {
	border: 1.5px solid #F0EBD4;
}

.text-column{
	display: flex;
	flex-direction: column;	
}

.edit-btn img, .delete-btn img{
	cursor: pointer;
	box-shadow: 0 0 0;
}

.edit-btn, .delete-btn{
	border: none;
	background: none;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.food-image {
	margin-right: 20px;
	width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    transition: transform 0.5s;
}

.edit-row {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center; 
	position: relative; 
  }

.action-btns {
	position: absolute; 
	right: -20em; 
	top: 1em; 
	transform: translateY(-50%); 
	display: flex;
	align-items: center; 
	filter: invert(100%) grayscale(100%);
  }


.beskrivning {
	max-width: 30vw;
}

.add-food-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.add-food-input input {
    width: 30vw;
    height: 2em;
}

.edit-food-item{
	display: flex;
	flex-direction: column;
}

.edit-food-item input{
	width: 30em;
}

.button-div{
	display: flex;
	justify-content: space-around;
}

.cancel-btn{
	width: 10em;
	height: 5em;
}

.save-button{
	width: 10em;
	height: 5em;
}


@media (max-width: 968px) {

	.order-card {
		height: auto;
		flex-direction: column;
	}
 
	.food-image {
		width: 120px;
		height: 120px;
	}

	.edit-row {
		display: flex;
		flex-direction: row;
		justify-content: center; 
		align-items: center; 
		position: relative; 
	  }
	
	.action-btns {
		position: absolute; 
		right: -4em; 
		top: 50%; 
	  }
	
	
}

