.order-page-body{
    height: 100vh;
    background-color: #222222;
}
.order-page-container{
    display: flex;
    flex-direction: row;
    background-color: #222222;
    
}
.order-aside{
    color: white;
    padding: 1em;
    border-radius: 10px;
    margin: 1em;
}


.order-article{
    color: white;
    padding: 1em;
    border-radius: 10px;
    margin: 1em;
    position: fixed; 
    right: 0; 
    top: 5rem; 
    width: 40%; 
    height: 100vh; 
    overflow-y: auto;
}
.shopping-cart{
    background-color: #924128;
    height: 75vh; 
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    overflow-y: auto;
}
.order-product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #924128;
    padding: 1rem;
}

.product-container {
    display: flex;
    align-items: center;
    background-color: #222222;
    color: #F0EBD4;
    margin: 10px 0;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);


}

.order-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    transition: transform 0.5s;
}

.product-container h2 {
    margin: 0 10px 0 10px;
}

.product-container p {
    margin: 0 10px 0 10px;
}

.price {
    margin-left: auto;
    margin-right: 20px;
}
.product-wrapper{
    display: flex;
    flex-direction: column;
}

.item-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.show-more{
    background-color: #924128;
    color: #F0EBD4;
    padding: 8px 15px;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #0000004c;
    transition: transform 0.3s ease; 
}

.show-more:hover {
    background-color: #713320;
    transform: scale(1.05); 
}
.add-to-cart { 
    background-color: #F0EBD4;
    border: none;
    color: black;
    padding: 8px 13px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: bold;
    font-size: large;
    margin: 0.5em;
    transition: transform 0.3s ease; 
}
.add-to-cart:hover {
    background-color: #dad5be;
    transform: scale(1.05);
}


.add-to-cart:focus,
.add-to-cart:active {
    outline: none;
}

.selected-product-container {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: #F0EBD4;
    margin: 10px 0;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.selected-product-container h2 {
    margin: 0 10px 0 10px;
}
.selected-product-container p {
    margin: 0 10px 0 10px;
}
.counter-wrapper {
    display: flex;
    justify-content: flex-end;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a0522d;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.5em;
    max-width: 100px;

  }
  
  .counter button {
    background-color: #F0EBD4;
    border: none;
    color: black;
    padding: 5px 10px;
    margin: 1px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .counter .count-display {
    padding: 5px 10px;
    margin: 1px;
    font-size: 16px;
    color: black;
    background-color: #F0EBD4;
    border-radius: 5px;
  }
  
  .counter button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  @media (max-width: 968px) {
    
    .order-page-container {
        flex-direction: column;
    }
    .order-article, .order-aside {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }
   
    .order-image {
        width: 120px;
        height: 120px;
   
    }

    h2{
        font-size: 15px;
        
    }
    p{
        font-size: 12px;
    }


    .add-to-cart { 
        padding: 5px 10px;
        margin: 0.4em;
        margin-right: 0.5em;
    }

    .show-more{
        padding: 5px 10px;
        font-size: x-small;
    }

    .product-container  {
       height: 120px;
       
    }

    
}