body {
	background-color: #222222;
	color: #F0EBD4;
	margin: 0;
	padding: 0;

}
.app{
	max-width: 100vw;
	margin: 0;
	padding: 0;
}

header{
	background-color: #343232;
	display: flex;
	flex-direction: column;
	height: 20vh;
	justify-content: center;
	align-items: center;
}

.header-options{
	color: white;
	font-size: 25px;
}

.loggaHeader {
    width: 200px; 
    height: auto;
   
}

.loggaHeaderLower{
	width: 200px;
	height: auto;
}

.header-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80vw;
}

.buttons a{
	font-size: large;
	color:aqua;
}


footer {
    color: #fff;
    padding: 20px 10px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}

.info, .login-btn{
    margin-bottom: 20px;
}

.info h3 {
    margin-bottom: 15px;
}

.info address, .info p, .action-buttons button, .login-btn a {
    margin: 5px 0;
    line-height: 1.5;
}

.login-btn a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    
}
.login-btn {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

a:-webkit-any-link {
    color: white;

    cursor: pointer;
    text-decoration: underline;
}



@media (min-width: 768px) {
    footer {
        padding: 20px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .info, .login-btn{
        flex: 1;
        margin-bottom: 0; 
    }

    .info {
        margin-right: 20px; 
    }

   

}
@media (max-width: 768px) {
    .loggaHeaderLower{
        width: 150px;
        height: auto;
    }
    .loggaHeader {
        width: 150px; 
        height: auto;
       
    }

    .header-options{
        
        font-size: 15px;
    }
    }